<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PolygonMerge.Properties.Settings.dbPolygonsConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\dbPolygons.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="PolygonMerge.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\Database.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="PolygonMerge.Properties.Settings.DBaseConnectionString"
            connectionString="Data Source=|DataDirectory|\DBase.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>